

body{
      background-color:#EAF6F6;
    }

    hr{
      background-color:silver;
      border-style:groove;
      border height: 5px;
      border-radius: 25px;
      border-width: 0.5px;
    }
h2{
  font-family:cursive;
  color:hotpink;
}
h1{
  color:Aquamarin;
}
h3{
  color:#66BFBF;
  font-family: cursive;
  font-style: oblique;
}
h4{
  font-family:cursive;
  font-style:italic;
  color:steelblue;
}
img{
    display:block;
    margin-right: auto;
    margin-left: auto;
}

fo
